.controls-buttons .order{
    padding-left: 20px;
}

.controls-buttons .order strong{
	color: red !important;
}

ul.controls-tabs li{
   vertical-align: top;
}

ul.controls-tabs li a img {
    left: 0;
    margin: 0;
    position: inherit;
    top: 0;
}

ul.controls-tabs li a{
    line-height: 16px !important;
    font-size: 9px;
    font-weight: bold;
}

.gallery li {
    height: 6em;
    line-height: 6em;
    width: 78px;
}

.content-right .controls-buttons{
    margin-right: 30px;
}

.controls-buttons .tools strong{
    color: #333333 !important;
    text-transform: none;
}

.controls-buttons .tools{
    margin-right: 5px;
}

.content-columns{
    height: 720px;
}

.content-columns.left30 .content-right {
    margin-left: 250px;
    width:auto;
    float: none;
    height:698px;
}

 .content-columns.left30 .content-left{
    width: 263px !important;
    height:698px;
    overflow-y: scroll;
}

.gallery-right{
	height: 170px;
	overflow-x: auto;
}

.content-right .main-area, .content-right .controls{
    width: 610px; 
    margin: 0 auto;
    text-align: center;
}

.controls .controls-buttons{
    float:none;
    margin-left: 190px;
}

.page-controls li{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}

.page-controls li img{
    margin: -0.45em 0;
}

.page-controls-div{
    width: 180px; 
    float: right; 
    margin-right: 20px;
    margin-top: 20px;
}

.controls .left-controls{
	float:left;
}

.controls .right-controls{
    float:right;
}

.content-columns-sep{
    left: 245px !important;
}

.numeration{
    position:relative; top: -25px;
}

.slider{
    width:100px;
}

.block-content{
    padding-bottom: 0px !important;
}

.tools-block{
    width: 660px; margin: 0 auto;
}

body{
    margin: 0 !important;
    padding: 0 !important;
}