textarea
{
    resize: none;
}

strong 
{
    color: #000;
}

.color-green
{
    color: #008000;
}

.color-red
{
    color: #FF0000;
}

.color-blue
{
    color: #39C;
}

.bold
{
    font-weight: bold;
}

.nobr
{
    white-space: nowrap;
}

#deselectAll
{
    display: none;
}

.no-margin-bottom
{
    margin-bottom: 0 !important;
}

.no-padding-top
{
    padding-top: 0 !important;
}

.padding-top-20px
{
    padding-top: 20px !important;
}

.selected-a
{
    font-weight: bold;
    color: #cc0000;
}

.margin-top10
{
    margin-top: 10px !important;
}

.margin-bottom-10px
{
    margin-bottom: 10px !important;
}

.margin-top20
{
    margin-top: 20px;
}

.margin-top50
{
    margin-top: 50px;
}

.margin-top100
{
    margin-top: 100px;
}

.margin-bottom50
{
    margin-bottom: 50px;
}

.margin-left-10px
{
    margin-left: 10px;
}

.margin-left-20px
{
    margin-left: 20px;
}

.purple-background
{
    background-color: #B543C9;
}

.green-background
{
    background-color: #56C943;
}

ul.grid > li .grid-name 
{
    margin-right: 15px;
    padding-left:33px;
    font-size:1.2em !important;
}

ul.grid > li .grid-name img 
{
    position:absolute;
    left:7px;
}

ul.grid > li .keywords 
{
    padding-left: 33px;
}

ul.grid > li 
{
    height:90px;
}

/* overwrite existed styles */
.dashboard-icon
{
    padding-left:  0px !important;
    background-image: none !important;
}

.hidden
{
    display: none;
}

.keywords li 
{
    white-space: normal !important;
}

.notice-div
{
    font-style: italic; color: #3399CC;
}

.notice-text
{
    width: 220px; height: 35px; display: none;
}

.info-container-green li, .info-container-red li
{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.info-container-green li
{
    color: #009900 !important;
}

.info-container-red li 
{
    color: #cc0000 !important;
}

.expiredSoon, .wrongIp {
	color: #cc0000 !important;
}

.headerSortUp .sort-up
{
    background-position: -30px 1px;
}

.headerSortDown .sort-down
{
    background-position: -30px bottom;
}

.datepicker
{
    width: 100px;
}

.full-width 
{
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 100% !important;
}

.field_item_table .full-width {
    min-width: 300px;
}

.ie7 .full-width {
    width: 93% !important;
}
.ie7 select.full-width {
    width: 100% !important;
}

.informations-field
{
    background-color: #fffdcd;
    margin: 0 !important;
    padding: 1em 1.667em 1.667em;
}

.loader
{
    display: none;
    text-align: center;
}


.prevSubImage, .nextSubImage
{
    cursor: pointer;
}

.cmyk-span
{
    color: red;
    text-transform: uppercase;
}

.invisible-hidden
{
    visibility: hidden; 
    display: none;
}

.custom_price
{
    width: 40px;
}

.dashboardClientFullname
{
    font-size: 14px;
}

.dashboardClientText
{
    font-size: 11px;
}

.dashboardClientText
{
    font-size: 11px;
}

.search-filter-form p
{
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}
.search-div
{
    text-align: center;
}

.order-package-content
{
    clear: both;
}

.package-index .order-package-content ul.connectedSortable a 
{
    cursor: move;
}


.datepick-popup
{
    z-index: 999999 !important;
}


.order-info-flag
{
    float:left;
    margin-right: 4px;
}
.client-status
{
    width:40%;
    margin: 0 auto;
}
.client-status-li
{
    margin-bottom: 10px !important;
}
#order_fields input, #order_fields select, #order_fields textarea
{
    width: 100%;
}

#server-search #search-list .Client
{
    background-image: url("../images/icons/web-app/32/Profile.png");
}

#server-search #search-list .Invoice
{
    background-image: url("../images/icons/web-app/32/Modify.png");
}

#server-search #search-list .Order
{
    background-image: url("../images/icons/web-app/32/Picture.png");
}

#server-search #search-list .sfGuardUser
{
    background-image: url("../images/icons/order/user.png");
}

.no-bottom-border
{
    border-bottom: 0 !important;
}

.no-bottom-padding
{
    padding-bottom: 0 !important;
}

#OrderTableView td.CreatedAt 
{
    text-align: center;
}

#OrderTableView td.CreatedAt .date 
{
    font-size:.8em;
}

#OrderTableView .keywords 
{
    margin:.3em 0;
}

#OrderTableView .Price 
{
    text-align: right;
}

.text-center
{
    text-align: center !important;
}

.margin-right20px
{
    margin-right: 20px;
}

#skin-name strong 
{
    color:#00B7F3;
}

.package-orders-table
{
    width: 100%;
}

.order-status-icon
{
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

/* order form */
.size_form
{
    margin-bottom: 1.6667em;
}

.size_form input
{
    width: 90px !important;
}

.red-text
{
    color: red;
}

.green-text
{
    color: green;
}

#packagingInformation td.current 
{
    text-decoration: underline;
}

#packagingInformation td span 
{
    font-style: italic;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left !important;
}

.padding-left5px
{
    padding-left: 5px !important;
}

.padding-left10px
{
    padding-left: 10px !important;
}

.padding-left20px
{
    padding-left: 20px !important;
}

.padding-left30px
{
    padding-left: 30px !important;
}

.width-100px
{
    width: 100px;
}

.width-auto
{
    width: auto !important;
}

.width25proc
{
    width: 25% !important;
}

.height-25px
{
    height: 25px;
}

.height-40px
{
    height: 40px;
}

.height-50px
{
    height: 50px;
}

.height-100px
{
    height: 100px;
}

.display-block
{
    display: block !important;
}

.text-decoration-none
{
    text-decoration: none !important;
}

.font-weight-normal
{
    font-weight: normal !important;
}

.scroll-box-200px-height
{
    overflow: auto; 
    max-height: 200px;
}

#order_form .content-columns:last-child {
	margin-top:-1.667em;
} 
.to-book-package-td
{
	background-color: #d4d4d4 !important;
	text-align: center !important;
	font-size: 17px;
	font-weight:bold;
	cursor: pointer;
}

.to-book-package-td-checked
{
	background-color: #b4b4b4 !important;
}
.client-order-header
{
	text-align: center;
	font-size:20px;
}

#pricelist-content .price 
{
	margin-left:1.5em;
}

#pricelist-content .price h3 
{
    margin:.5em 0;
}

#pricelist-content .price input.small 
{
	width:50px;
}

.order-error-list
{
	display: none;
}

.order-error-list .message
{
	margin-bottom: 10px;
}

.planning > li > span, .planning > li > a 
{
	white-space: nowrap;
}

#page-authorized {
	display: none;
}

.printer-interface .wizard-bg {
	background: none !important;
}

.printer-interface .wizard-bg section {
	margin-top: 0px !important;
	position: relative;
}

#worklog-form {
	display: none;
}

.order-status-changed-info
{
	font-size: 23px;
	color: #3399CC;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 32px;
}

#save-message {
    display: none;
}

.permission-table-header
{
    text-transform: uppercase;
    font-weight: bold !important;
    vertical-align: middle !important;
    padding: 5px!important;
}

.description
{
    color: #999;
    font-style: italic;
}

a.deletePriceTable, a.delete 
{
    cursor: pointer;
}

.invoice-cost-table {
    width: 550px;
}

.vertical-align-middle
{
    vertical-align: middle !important;
}

button a
{
    color: #ffffff;
}


.despatch-table
{
	width: 100%;
	text-align: left;
}

.despatch-table tr th
{
    border: none;
}

.despatch-table tr .date
{
    width:10% !important;
    min-width: 100px;
}
.despatch-table tr .books
{
    width:90% !important;
}

.despatch-table tr .dates
{
    font-weight: bold;
}

/* Favourite orders 
----------------------------------------------*/

.favourite-order-span
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    cursor: pointer;
}

.favourite-order-inactive
{
    background-image: url("../images/icons/fugue/star-empty.png");
}

.favourite-order-active
{
    background-image: url("../images/icons/fugue/star.png");
}

.favourite-order-loader
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    cursor: pointer;
    background-image: url("../images/loader.gif") !important;
}

.big-blue{
	text-align: center;
	font-size: 25px;
	line-height: 32px;
	color: #3399CC;
}

#worklog-form p{
	width:230px;
	float:left;
}

/* preloader */
#progressAndWait
{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    opacity: .5;
    filter: alpha(opacity = 50);
    background: black url('../images/refresh_progress.gif') center center no-repeat;
    overflow: hidden;
}

ul.floating-tags .tag-info
{
    padding-left: 2em;
    background-image: url(../images/icons/fugue/information-blue.png);
}

.text-centered
{
	text-align: center !important;
}

.form .help
{
    color: #999;
    font-style: italic;
}

table.package-summary
{
    text-align: right;
    width: 100%;
}

.package-summary td
{
    border: none !important;
}

.package-summary .amount
{
    width: 200px;
}

.package-summary .summary {
    color: #cc3333;
}

.package-summary strong {
    font-weight: bold;
    color: #cc3333;
}

.modal-footer-loader
{
    margin-bottom: -10px;
    margin-right: 10px;
}

.invoiceDates
{
	width: 70px !important;
}

.search-filter-form .ui-datepicker-trigger
{
	margin: 0 0 -3px 0.2em;
}

#hint
{
    background: white;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -webkit-background-clip: padding-box;
    border-radius: 0.5em;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;
    line-height: 1.5em;
    text-align: center;
    color: #333333;
    width: 120px;
    position: relative;   
    margin-top: 20px;
}

#hint ul
{
    text-align: left;
}

.inactive-category
{
	font-style: italic;
}

.inactive-product
{
	color: #959595;
}

#ui-datepicker-div
{
	z-index: 999999 !important;
}

.simple-list-selected-li
{
    background: #E0E0E0 !important;
}

.package-link
{
    cursor: pointer;
}

.task .floating-tags
{
    width: 17em;
}

#steps .order-status-menu-button ul
{
    left: -160px;
    top: 29px;
}

.menu .icon_save
{ 
    background-image: url(../images/icons/fugue/tick-circle.png); 
}

.menu .icon_draft
{ 
    background-image: url(../images/icons/orderStatus/16/inproces.png); 
}

.menu .icon_realization
{ 
    background-image: url(../images/icons/orderStatus/16/realization.png); 
}

.menu .icon_bindery 
{ 
    background-image: url(../images/icons/orderStatus/16/bindery.png); 

}

.menu .icon_ready 
{ 
    background-image: url(../images/icons/orderStatus/16/ready.png); 

}

.menu .icon_invoice 
{ 
    background-image: url(../images/icons/orderStatus/16/invoice-user.png); 
}

.menu .icon_deleted 
{ 
    background-image: url(../images/icons/fugue/cross-circle.png);
}

.menu .icon_new
{ 
    background-image: url(../images/icons/orderStatus/16/new.png);
}

.wizard-loader-img
{
    display: none;
}

.with-menu
{
    margin: 2px 5px 0 5px;
    z-index: 89;
}

.with-menu .menu {
    text-align: left;
}

.with-menu h1 {
    font-family: Arial;
    font-weight: bold;
}

.menu 
{
    font-size: 12px;
}

.wizard-loader-img
{
    display: none;
}
#new_field_category_form .block-content ul.radio_list {
    height: 1em;
    display: block;
;
}
#new_field_category_form .block-content ul.radio_list li {
    margin-right: 1.5em;
    float:left;
}

.client-users-container span
{
    font-size: 14px;
}

.package-modal-loader-img
{
    width: 32px;
    height: 32px;
    margin-right: 7px;
    position: relative;
    vertical-align: middle;
    margin-top: -5px;
}

.date-span
{
    width: 90px;
}

.table tbody th.right, .table tbody td.right, .table tfoot th.right, .table tfoot td.right {
    text-align: right;
}

.table-navigation {
    height: 2em;
}
.table-navigation p.info {
    padding-top:10px;
    float:left;
}
.table-navigation p.limit {
    float:right;
}
.table-navigation span {
    text-align: center;
    display: block;
}
.formFilter p {
    float:left;
    margin-right: 2em;
    margin-bottom: 0;
}
.formFilter p img.ui-datepicker-trigger {
    position: relative;
    right: 2em;
    top: 3px;
}
#chart {
    margin:1.5em 0;
}
#dialog-edit-package .colx3-left {
    padding-right: 11px;
}
.small-files-list.twitter-news li {
    background: url(../images/twitter_big.png) no-repeat;
}
.small-files-list.twitter-news li a {
    display: inline;
    color: #3399cc;
}
.result-block ul.twitter-news li {
    white-space: normal;
}

.calculate_as_card li {
    padding:.5em 0;
}