.simple-table
{
    color: black;
}

.simple-table tr, td, th, tfoot td
{
    border: 1px white dotted;
    padding: 5px;
}

.simple-table thead th, th
{
    color: black;
    background-color: #f2f2f2;
    height: 40px;
    vertical-align: middle;
}

.align-center
{
    text-align: center !important;
}