/** Stats styles.
 *--------------------------------------*/

.legend-div
{
    float: left;
    margin-left: 150px;
}

.legend-color-div
{
    float: left;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    border: 1px solid #999;
}

.legend-description-div
{
    float: left;
    margin-left: 10px;
    line-height: 17px;
    text-transform: uppercase;
}

.accounting-report .checkbox_list li
{
    padding-top: 5px;
}